@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --door-rose: #C04E61;
    --door-lemon: #9DBF9E;
    --door-moss: #A09383;
    --door-sky: #89ABE3;
    --door-sun: #FFD580;

    --font-size-lg: 88px;

    --md-bp: 1000px;
}

body {
  background-color: var(--door-lemon);
  height: 100%;
}

.hero {
  font-family: 'Inter', sans-serif;
  background: #FFFFFF;
  border-radius: 24px;
  margin: 0 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  color: #333;
  flex-wrap: wrap;
}

.hero__logo {
  max-width: 100px;
  margin-bottom: 12px;
}

.hero__title {
  font-size: 1.9rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
  line-height: 150%;
}

.hero__intro {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 8px 0;
  text-align: center;
  line-height: 150%;
}

.hero__intro a,
.hero__intro a:hover,
.hero__intro a:focus,
.hero__intro a:visited {
  color: #333;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
}

.grid {
  display: grid;
  /*height: 100vh;*/
  grid-template-columns: repeat(5, 20% [col-start]);
  grid-template-rows: repeat(12, 100px [row-start]);
  justify-content: center;
  align-content: center;
  
  @media ((screen) and (min-width: var(--md-bp))) {
    grid-template-columns: repeat(10, 100px [col-start]);
    grid-template-rows: repeat(6, 100px [row-start]);
  }
}

.grid__item {
  position: relative;
  font-size: 1rem;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 32px;
    
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow:  inset -2px -2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #FAD249;
  }
  
  &:hover .grid__item-door,
  &:focus .grid__item-door {
    transform: rotateY(28deg);
    transform-style: preserve-3d;
  }
 
    &:hover .grid__item-shadow,
    &:focus .grid__item-shadow {
    transform: translateZ(0) rotate(4deg) translateX(0px) translateY(0px) skewX(3deg) skewY(3deg) scaleX(0.89) scaleY(0.7);
    transform-origin: bottom left;
        opacity: 1;
        transition: all .5s ease-in-out; 
    }
}

.grid__item-door {
    z-index: 2;
    transition: transform .5s ease-in-out;
    position: absolute;
    top: -1px;
    bottom: 0;
    left: -1px;
    right: 0;
    background-color: var(--door-lemon);
    border: 1px dashed #333;
    color: #333;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 16px;
    perspective: 0;
    transform-origin: bottom left;
}

.grid__item-shadow {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 16px;
    border-radius: 600px 0 0 0;
    transition: opacity 0.2s ease-in 0.2s, -webkit-transform .2s linear;
    transition: transform .2s linear, opacity 0.2s ease-in 0.2s;
    transition: transform .2s linear, opacity 0.2s ease-in 0.2s, -webkit-transform .2s linear;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    backface-visibility: hidden;
    transform: translateZ(0) rotate(0deg) translateX(0px) translateY(0) skewX(0) skewY(0) scaleY(0.9);
    transform-origin: bottom left;
    transform-style: preserve-3d;
    opacity: 0;
}

.grid__item--lg {
    font-size: var(--font-size-lg);
}

.grid__item--moss .grid__item-door {
    background-color: var(--door-moss);
}

.grid__item--sky .grid__item-door {
    background-color: var(--door-sky);
}

.grid__item--sun .grid__item-door {
    background-color: var(--door-sun);
}

.grid__item--rose .grid__item-door {
    background-color: var(--door-rose);
}

.grid__item--1 {
  grid-area: 7 / 1 / span 2 / span 2;
    .grid__item-door {
        z-index: 8;
    }
    
    .grid__item-shadow {
        z-index: 7;
    }     
}

.grid__item--2 {
  grid-area: 4 / 4 / span 2 / span 2;

    .grid__item-door {
        z-index: 12;
    }
    
    .grid__item-shadow {
        z-index: 11;
    }
}

.grid__item--3 {
  grid-area: 8 / 4 / span 2 / span 2;
    
    .grid__item-door {
        z-index: 6;
    }
    
    .grid__item-shadow {
        z-index: 5;
    }
}

.grid__item--4 {
  grid-area: 11 / 1 / span 2 / span 2;
}

.grid__item--5 {
  grid-area: 2 / 3 / span 2 / span 1;

    .grid__item-door {
        z-index: 14;
    }
    
    .grid__item-shadow {
        z-index: 13;
    }
}

.grid__item--6 {
  grid-area: 2 / 4 / span 2 / span 2;

    .grid__item-door {
        z-index: 14;
    }
    
    .grid__item-shadow {
        z-index: 13;
    }
}

.grid__item--7 {
  grid-area: 4 / 1 / span 1 / span 1;

    .grid__item-door {
        z-index: 12;
    }
    
    .grid__item-shadow {
        z-index: 11;
    }
}

.grid__item--8 {
  grid-area: 9 / 1 / span 1 / span 2;
    
    .grid__item-door {
        z-index: 6;
    }
    
    .grid__item-shadow {
        z-index: 5;
    }     
}

.grid__item--9 {
  grid-area: 1 / 3 / span 1 / span 2;

    .grid__item-door {
        z-index: 16;
    }
    
    .grid__item-shadow {
        z-index: 15;
    }
}

.grid__item--10 {
  grid-area: 12 / 4 / span 1 / span 2;
}

.grid__item--11 {
  grid-area: 8 / 3 / span 2 / span 1;
   
  .grid__item-door {
        z-index: 6;
    }
    
    .grid__item-shadow {
        z-index: 5;
    }   
}

.grid__item--12 {
  grid-area: 6 / 4 / span 1 / span 2;

    .grid__item-door {
        z-index: 10;
    }
    
    .grid__item-shadow {
        z-index: 9;
    }
}

.grid__item--13 {
  grid-area: 1 / 1 / span 2 / span 2;

    .grid__item-door {
        z-index: 16;
    }
    
    .grid__item-shadow {
        z-index: 15;
    }
}

.grid__item--14 {
  grid-area: 10 / 2 / span 1 / span 2;
    
   .grid__item-door {
        z-index: 4;
    }
    
    .grid__item-shadow {
        z-index: 3;
    } 
}

.grid__item--15 {
  grid-area: 7 / 5 / span 1 / span 1;

    .grid__item-door {
        z-index: 8;
    }
    
    .grid__item-shadow {
        z-index: 7;
    }
}

.grid__item--16 {
  grid-area: 4 / 2 / span 1 / span 2;

    .grid__item-door {
        z-index: 12;
    }
    
    .grid__item-shadow {
        z-index: 11;
    }
}

.grid__item--17 {
  grid-area: 5 / 3 / span 2 / span 1;

    .grid__item-door {
        z-index: 10;
    }
    
    .grid__item-shadow {
        z-index: 9;
    }
}

.grid__item--18 {
  grid-area: 1 / 5 / span 1 / span 1;

    .grid__item-door {
        z-index: 16;
    }
    
    .grid__item-shadow {
        z-index: 15;
    }
}

.grid__item--19 {
  grid-area: 10 / 1 / span 1 / span 1;
    
    .grid__item-door {
        z-index: 4;
    }
    
    .grid__item-shadow {
        z-index: 3;
    } 
}

.grid__item--20 {
  grid-area: 7 / 3 / span 1 / span 2;
    
    .grid__item-door {
        z-index: 8;
    }
    
    .grid__item-shadow {
        z-index: 7;
    }  
}

.grid__item--21 {
  grid-area: 10 / 4 / span 2 / span 2;
    
    .grid__item-door {
        z-index: 4;
    }
    
    .grid__item-shadow {
        z-index: 3;
    } 
}

.grid__item--22 {
  grid-area: 3 / 1 / span 1 / span 2;

    .grid__item-door {
        z-index: 14;
    }
    
    .grid__item-shadow {
        z-index: 13;
    }
}

.grid__item--23 {
  grid-area: 11 / 3 / span 2 / span 1;
}

.grid__item--24 {
  grid-area: 5 / 1 / span 2 / span 2;

    .grid__item-door {
        z-index: 10;
    }
    
    .grid__item-shadow {
        z-index: 9;
    }
}

@media ((screen) and (min-width: var(--md-bp))) {
  .hero {
    justify-content: start;
    padding: 24px 132px;
  }

  .hero__logo {
    max-width: 100px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  
  .hero__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    text-align: left;
  }
  
  .hero__intro {
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 0;
    text-align: left;
  }

  .grid__item--1 {
    grid-area: 1 / 6 / span 2 / span 2;
          
    .grid__item-door {
        z-index: 8;
    }
    
    .grid__item-shadow {
        z-index: 7;
    }
  }

  .grid__item--2 {
    grid-area: 4 / 4 / span 2 / span 2;
          
    .grid__item-door {
        z-index: 4;
    }
    
    .grid__item-shadow {
        z-index: 3;
    }
  }

  .grid__item--3 {
    grid-area: 2 / 9 / span 2 / span 2;
          
    .grid__item-door {
        z-index: 6;
    }
    
    .grid__item-shadow {
        z-index: 5;
    }
  }

  .grid__item--4 {
    grid-area: 5 / 6 / span 2 / span 2;
    
      .grid__item-door {
        z-index: 2;
    }
    
    .grid__item-shadow {
        z-index: 1;
    }
  }

  .grid__item--5 {
    grid-area: 2 / 3 / span 2 / span 1;
          
    .grid__item-door {
        z-index: 6;
    }
    
    .grid__item-shadow {
        z-index: 5;
    }
  }

  .grid__item--6 {
    grid-area: 2 / 4 / span 2 / span 2;
      
    .grid__item-door {
        z-index: 6;
    }
    
    .grid__item-shadow {
        z-index: 5;
    }
  }

  .grid__item--7 {
    grid-area: 4 / 1 / span 1 / span 1;
      
          
    .grid__item-door {
        z-index: 4;
    }
    
    .grid__item-shadow {
        z-index: 3;
    }
  }

  .grid__item--8 {
    grid-area: 3 / 6 / span 1 / span 2;
          
    .grid__item-door {
        z-index: 6;
    }
    
    .grid__item-shadow {
        z-index: 5;
    }
  }

  .grid__item--9 {
    grid-area: 1 / 3 / span 1 / span 2;
          
    .grid__item-door {
        z-index: 8;
    }
    
    .grid__item-shadow {
        z-index: 7;
    }
  }

  .grid__item--10 {
    grid-area: 6 / 9 / span 1 / span 2;

    .grid__item-door {
        z-index: 2;
    }
    
    .grid__item-shadow {
        z-index: 1;
    }
  }

  .grid__item--11 {
    grid-area: 2 / 8 / span 2 / span 1;
      
    .grid__item-door {
        z-index: 6;
    }
    
    .grid__item-shadow {
        z-index: 5;
    }
  }

  .grid__item--12 {
    grid-area: 6 / 4 / span 1 / span 2;
      
    .grid__item-door {
        z-index: 2;
    }
    
    .grid__item-shadow {
        z-index: 1;
    }
  }

  .grid__item--13 {
    grid-area: 1 / 1 / span 2 / span 2;
      
    .grid__item-door {
        z-index: 8;
    }
    
    .grid__item-shadow {
        z-index: 7;
    }
  }

  .grid__item--14 {
    grid-area: 4 / 7 / span 1 / span 2;
          
    .grid__item-door {
        z-index: 4;
    }
    
    .grid__item-shadow {
        z-index: 3;
    }
  }

  .grid__item--15 {
    grid-area: 1 / 10 / span 1 / span 1;
          
    .grid__item-door {
        z-index: 8;
    }
    
    .grid__item-shadow {
        z-index: 7;
    }
  }

  .grid__item--16 {
    grid-area: 4 / 2 / span 1 / span 2;
          
    .grid__item-door {
        z-index: 4;
    }
    
    .grid__item-shadow {
        z-index: 3;
    }
  }

  .grid__item--17 {
    grid-area: 5 / 3 / span 2 / span 1;
    .grid__item-door {
        z-index: 2;
    }
    
    .grid__item-shadow {
        z-index: 1;
    }
  }

  .grid__item--18 {
    grid-area: 1 / 5 / span 1 / span 1;
          
    .grid__item-door {
        z-index: 8;
    }
    
    .grid__item-shadow {
        z-index: 7;
    }
  }

  .grid__item--19 {
    grid-area: 4 / 6 / span 1 / span 1;
          
    .grid__item-door {
        z-index: 4;
    }
    
    .grid__item-shadow {
        z-index: 3;
    }
  }

  .grid__item--20 {
    grid-area: 1 / 8 / span 1 / span 2;
          
    .grid__item-door {
        z-index: 8;
    }
    
    .grid__item-shadow {
        z-index: 7;
    }
  }

  .grid__item--21 {
    grid-area: 4 / 9 / span 2 / span 2;
      
    .grid__item-door {
        z-index: 4;
    }
    
    .grid__item-shadow {
        z-index: 3;
    }
  }

  .grid__item--22 {
    grid-area: 3 / 1 / span 1 / span 2;
      
          
    .grid__item-door {
        z-index: 6;
    }
    
    .grid__item-shadow {
        z-index: 5;
    }
  }

  .grid__item--23 {
    grid-area: 5 / 8 / span 2 / span 1;

    .grid__item-door {
        z-index: 2;
    }
    
    .grid__item-shadow {
        z-index: 1;
    } 
  }

  .grid__item--24 {
    grid-area: 5 / 1 / span 2 / span 2;
      
    .grid__item-door {
        z-index: 2;
    }
    
    .grid__item-shadow {
        z-index: 1;
    }
  }
}

/* DAY */

.lottie-animation {
  display: none; /* Hide by default */
  position: fixed; /* Fix position on the screen */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  z-index: 1000; /* Ensure it's above other elements */
}


.heute {
  font-family: 'Arial', sans-serif; /* You can adjust the font family as needed */
  margin: 0;
  padding: 0;
  background-color: #fff; /* Adjust background color as needed */
}

.container {
  max-width: 600px; /* Adjust max-width for different devices if needed */
  margin: 0 auto;
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.nav-arrow {
  display: flex; /* Align the SVG icon with the text */
  align-items: center; /* Vertical alignment */
  text-decoration: none;
  color: #333; /* Color for the text */
}

.nav-arrow svg {
  margin-right: 8px; /* Add some space between the icon and the text */
}

.header-logo {
  width: 100px;
  height: 100px;
}

.day-indicator {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.calendar-icon {
  width: 120px;
  height: auto;
}

.day-number {
  font-family: 'Abril Fatface', sans-serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 1.4rem;
  color: #333;
}

.main-title {
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: 20px 0;
  color: #333;
  font-size: 2rem;
}

.content-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 24px;
}

.content-text {
  text-align: center;
  margin: 20px 0;
  color: #333;
  line-height: 150%;
}

.email-subscription {
  text-align: center;
  margin: 20px 0;
}

.email-subscription input {
  width: 100%;
  padding: 18px 12px;
  margin: 0 0 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  border-radius: 8px;
}

.participation-button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #2CB9B0;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 24px;
}

.section-headline {
  text-align: center;
  font-size: 1.5rem; /* Adjust font-size as needed */
  color: #333; /* Adjust headline color as needed */
  margin: 20px 0; /* Adjust spacing as needed */
}

.raffle-description {
  text-align: center;
  line-height: 150%;
  color: #333;
  margin: 0 0 20px; /* Adjust bottom margin as needed */
  /* The rest of the styles will inherit from content-text as they are similar */
}

.success-message {
  text-align: center;
  color: green; /* Adjust color to fit your design */
  /* Initially hidden; will be displayed when a success condition is met via JavaScript */
  display: none;
  line-height: 150%;
  margin-top: 20px; /* Provide some space from the button */
}

/* Adjust the media queries as needed for different breakpoints */
@media (max-width: 768px) {
  .container {
      padding: 10px;
  }
}

@media (max-width: 480px) {
  .day-indicator {
      margin: 10px 0;
  }
}